* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

h1,
footer {
  background-color: #0c4f70;
  text-align: center;
  color: wheat;
}
h1 {
  padding: 20px;
  /* margin: 15px; */
}

h2 {
  text-align: center;
  /* margin: 25px; */
  color: black;
}
.puppies {
  margin-inline: auto;
  margin-block: 40px;
  width: 960px;
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px;
    margin-bottom:25px;*/
  padding-top: 70px;
}
.puppies div {
  width: 310px;
}
.puppytxt {
  background-color: #ef4c64;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.twoPappy {
  display: flex;
  margin-inline: auto;
  justify-content: space-between;
  width: 960px;
}

footer {
  text-align: center;
  font-size: 40px;
  margin-top: 75;
  padding-top: 50px;
  padding-bottom: 50px;
  color: wheat;
}
